body{
    background-color: skyblue;
}

#outer{
    background-color: aqua;
    width: 400px;
    height: 400px;
    position: relative;
    left: 35%;
    padding:30px ;
    margin-top: 100px;
    border-radius: 10px;
}
#inner{
    background-color: black;
    height: 330px;
    width: 330px;
    position: absolute;
    top: 70px;
    left: 66px;
}
div h1{
    color: white;
    font-size: 15px;
    margin: 10px;
    padding: 30px;
    text-align: center;
}
div select{
    margin-left: 86Px;
    height: 30px;
    width: 150px;
    margin-bottom: 40px;
    padding: 5px;
}
div button{
    margin-left: 120px;
    height: 30px;
    border-radius: 10px;
}
#res{
    color: white;
    margin-left: 50px;
}